<h1>New Recipe</h1>

<%= render 'form', recipe: @recipe %>

<%= link_to 'Back', recipes_path %>

<script>
(function(){
  function getUrlVars(){
    let vars = {};
    const param = location.search.substring(1).split('&');
    for(let i = 0; i < param.length; i++) {
      const keySearch = param[i].search(/=/);
      let key = '';
      if(keySearch != -1) key = param[i].slice(0, keySearch);
      const val = param[i].slice(param[i].indexOf('=', 0) + 1);
      if(key != '') vars[key] = decodeURI(val);
    }
    return vars;
  }
  const params=getUrlVars();
  for (key in params) {
    $("[name='recipe["+key+"]']").val(params[key]);
  }
}());
		       
</script>
